{% extends "base.html" %}

{% block conf %}
<title>Account | {{ name }}</title>
<link rel="icon" href="../static/images/icon.ico">
<link rel="stylesheet" href="../static/account.css">
{% endblock %}

{% block content %}
<div class="container">
    <h2>Welcome, {{ name }}</h2>
    <p>Username: {{ name }}</p>
    <p>Email: {{ email }}</p>
    <p><a href="#">Forgot password?</a></p>
    <br>
    <form class="form-signin" method="post" action="/account/">
        {{ form.hidden_tag() }}
        <p>{{ form.newsletter }} Receive newsletters</p>
        <button type="submit">Save</button>
    </form>
</div>
<br>
<a href="{{ url_for('logout') }}">Logout</a>
<a href="{{ url_for('delete') }}" class="delete">Delete Account</a>
{% endblock %}